.body {
    border: 1px solid red;
    height: 100vh;
    flex: 1;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgba(91, 87, 115);
    color: white;
    padding: 30px;
}