.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img {
    width: 100%;
}

.login>a {
    font-size: 20px;
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}